# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- Blender ---
blender_assets.cats.txt
*.blend1
*.blend2
*.blend3
*.blend@
quit.blend
recovered_relative_paths.txt

# --- VS Code & Sistem ---
.vscode/
.DS_Store
Thumbs.db

# --- Secrete ---
.env